__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.streamlit/secrets.toml
streamlit_*.log
.env.tokens
.env.tokens.txt

forest_calculation_output.xlsx
forest_calculation_output_summary_by_site.xlsx
forest_calculation_output_details.xlsx
template_summary_by_site.xlsx
template_details.xlsx

~$*.xlsx
